

@media (max-width: 1199.98px){
    .main-nav{
        position: fixed;
        top: 0;
        left: 0;
        background-color: $white;
        padding: 20px 15px;
        height: 100vh;
        min-height: 100%;
        overflow: auto;
        width: 260px;
        box-shadow: 4px 0 4px rgba($black, 0.2);
        z-index: 99;
        transform: translateX(-110%);
        transition: transform 0.3s;
        .nav{
            margin: 0;
            flex-direction: column;
           > li{
                padding: 0;
                 a{
                    display: block;
                    padding: 10px 0;
                    font-size: 14px;    
                    color: $black !important;               
                }
                &:after{
                    display: none !important;
                }
                &.active{
                    a{
                        color: $white;
                    }
                }
            }
        }
    }

    .menu-active{
        .main-nav{
            transform: translateX(0);
        }
    }

    .submenu{
        display: none;
        position: relative;
        opacity: 1;
        visibility: inherit;
        box-shadow: none;
        background-color: transparent;
        left: 0 !important;
        padding: 0 15px;
        ul{
            li{
                margin: 0;
                a{
                    color: $black !important;
                    white-space: normal;
                }
            }
        }
    }
    // Mega Menu
    .mega-menu{
        left: 15px !important;
        opacity: 1;
        visibility: inherit;
        position: static;
        width: auto;
        padding: 0;
        background: none;
        display: none;
        transition: none;
        .container{
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .menu-title{
            padding: 0 !important;
            font-size: 14px !important;
        }
    }

    .menu-list{
        ul{
            margin: 5px 0 10px;
            li{
                a{
                    padding: 5px 0 !important;
                    font-weight: 500;
                    font-size: 14px !important;
                }
            }
        }
    }

    .m-open{
        opacity: 1;
        visibility: visible;
        border: 0;
        width: 30px;
        height: 30px;
        display: block;
        transform: none;
        bottom: auto;
        top: 3px;
        right: 0;
        left: auto;
        color: $black;
        pointer-events: none;
        &:after{
            content: "\e9c8";
            font-family: 'icomoon';
            text-align: center;
            display: block;
            line-height: 30px;
            font-size: 15px;
        }
    }

    .active-dropDown{
        .m-open{
            &:after{
                content: "\e9ab";
                font-family: 'icomoon';
                font-size: 15px;
            }
        }
    }
    .brand{
        width: 130px;
    }
    .shopping-icons li{
        padding: 12px 7px;
        font-size: 16px;
    }
    .section-hero .swiper-container .swiper-slide .hero-content h2, .section-hero .swiper-container .swiper-slide .hero-content .h2{
        font-size: 32px;
    }

}

@media (max-width: 991.98px){
    .container {
        max-width: 100%;
    }
    .footer-main{
        padding: 40px 0 30px;
    }
    .sliderWrapper{
        margin: 0 !important;
    }
    .pDetailBox{
        padding-left: 0;
    }
    
    .acount-bg{
        background: none;
    }
    .moreImg{
        padding-left: 0;
    }
    .accountnav{
        display: none;
    }
    .checkout-rightpanel{
        width: 100%;
        margin-right: 0 !important;
        padding: 25px !important;
    }
}



@media (max-width: 767.98px){

    .orderBox .orderDetailBox{
        width:100%;
        padding-left: 0;
        border: 0;
    }
    .orderBox .thumb{
        max-width: 80px;
    }
    h3, .h3{
        font-size: 18px;
    }
    .section-hero .swiper-container .swiper-slide .container .contentWrap .hero-content{
        text-align: center;
        top: auto;
        bottom: 50px;
    }
    .stokist-card img{
        max-width: 200px;
    }
    .stokist-card .pInfo{
        padding-left: 0;
    }
    .section-hero .swiper-container .swiper-slide .hero-content h2, .section-hero .swiper-container .swiper-slide .hero-content .h2{
        font-size: 24px;
    }
}

@media (max-width: 575.98px){
    h2, .h2{
        font-size: 26px;
    }
    .orderBox{
        padding: 10px;
    }
    .swiper-button-next{
        right:-20px;
    }
    .swiper-button-prev{
        left:-20px;
    }
    
    .stokist-card img{
        max-width: 100%;
    }
    .stokist-card .pInfo{
        padding-left: 0;
        padding-top: 20px;
    }
    .section-hero .swiper-container .swiper-slide .hero-content{
        transform: none !important;
        position: relative;
        padding: 25px 0px;
        bottom: auto;
        top: auto;
        h2{
            font-size: 20px;
            margin-bottom: 15px;
            color: $black !important;
        }
        .shopnow{
            font-size: 16px;
            color: $black !important;
        }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background: $black;
    }
}
